Exercise Set 1/Q3/muleproject2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e3ca44b1-763e-4b79-adf4-e16576af6809" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="5aa2448e-19b7-494b-9a16-f0581edb9a01" >
		<db:my-sql-connection port="3306" user="mule" password="mule" database="training" host="mudb.learn.mulesoft.com"/>
	</db:config>
	<flow name="muleproject2Flow" doc:id="51727f5a-edb1-4098-8712-4722ccba52fb" >
		<http:listener doc:name="Listener" doc:id="ae58513d-6891-4ce5-bf4c-c35b7cf40ee5" config-ref="HTTP_Listener_config" path="/demo">
			<non-repeatable-stream />
		</http:listener>
		<db:select doc:name="Select" doc:id="1dcb700a-bbef-43f4-b9d9-8c4e59f6c4b4" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM american WHERE id = :ID]]></db:sql>
			<db:input-parameters ><![CDATA[#[{'ID' : attributes.queryParams.id}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="8d26a911-00fa-421c-9f78-37d6c3581c2f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
